.hr {
  border-bottom: 1px solid #31b0d5;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.rhb {
  font-size: 18px;
  color: #31b0d5;
}

.left-s {
  width: 50%;
}
.right-s {
  width: 50%;
}

.layout-container {
  height: 100%;
}

.rt-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 4px;
  margin: 7px;
}

.line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.animal-t {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.animalId {
  margin-left: 10px;
  background-color: whitesmoke;
  padding: 5px;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leftContainer {
  width: 100%;
  margin-left: 150px;
  padding: 20px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}
.title {
  color: #31b0d5;
  font-weight: "bold";
  font-size: 20px;
}
.subd-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detailsContainer {
  margin: 10px;
}
.second {
  padding-left: 10px;
  font-size: 15px;
}
.first {
  font-weight: bold;
  font-size: 15px;
  width: 130px;
}
.input-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.fui {
  width: 120px;
}
.ll {
  width: 30%;
}
.lv {
  width: 30%;
}
.animal-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#scroll::-webkit-scrollbar {
  width: 10px;
}
#scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#scroll::-webkit-scrollbar-thumb {
  background-color: #31b0d5;
  outline: 1px solid #31b0d5;
}
