@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-color:#1D4ED8;
}
.bg-login{
  background-image: url('./assets/images/livestock.jpeg');
  background-size:cover;
  position: relative;
}
.bg-login::before{
  width:100%;
  height:500px;
  left:0;
  top:0;
  opacity:0.3;
  content: '';
  position:absolute;
  background:#31B0D5;
  z-index:1;
}

