.menuBar {
  width: 10%;
  background-color: whitesmoke;
  height: 88%;
  margin-left: -7px;
  position: absolute;
  top: 3;
  padding: 5px;
}
.open {
  width: 10%;
}
.v {
  width: 100%;
}

.tags {
  background-color: #31b0d5;
  height: 100%;
  color: white;
}
